In [60]:
import requests
import json
from scrapy.http import HtmlResponse
import camelot
import pandas as pd

In [45]:
tb =  camelot.read_pdf("/home/ubuntu/sanctions-scripts/list-of-member-expelled.pdf",pages="all",flavor="lattice")

In [74]:
main_df = pd.read_excel("/home/ubuntu/sanctions-scripts/list-of-member-excel.xlsx")[1:]

In [75]:
main_df.head(2)

,S.\nNo.,Name and address of the Member,PAN,Registration No.,Unnamed: 4,Date of Declaration,Names of Promoters/owners/Partners/Directors of the company,Nature of Violation
1,1.0,M/s Pritam Vinay Commodity House\nRegistered a...,AADPJ1286A,28220,MCX/TCM/PROP/0531,2010-06-01,Name of Owner\nVinay Sagar Jain,The member has been expelled from membership o...
2,2.0,M/s Ishitaa Commodities\nRegistered and Corres...,AAQPD8512Q,28620,MCX/TCM/PROP/0800,2010-10-26,Name of Owner\nHasmukh K. Doshi,The member has been expelled from membership o...

In [67]:
main_df.columns

Index(['S.\nNo.', 'Name and address of the Member', 'PAN', 'Registration No.',
       'Unnamed: 4', 'Date of Declaration',
       'Names of Promoters/owners/Partners/Directors of the company',
       'Nature of Violation'],
      dtype='object')

In [80]:

for i,r in main_df.iterrows():
    namestr = r["Name and address of the Member"]
    pan = r["PAN"]
    sebi_no = r["Unnamed: 4"]
    odate = r["Date of Declaration"]
    comment = r["Nature of Violation"]

    # print(namestr.split("\n"))
    nml = namestr.split("\n")
    name = nml[0].replace("\n","").replace("M/s ","").strip()
    adrs = []
    for ad in nml[1:]:
        ad = ad.replace("\n"," ").replace("\xa0","").strip()
        if ad in ["Registered and Correspondence  Office Address:","Registered and Correspondence Office Address:","Registered Office Address:"]:
            continue
        adrs.append(ad)
    print(adrs)

['4119, 1st Floor, Naya Bazar, Delhi - 110006']
['153, Market Yard, Pune - 411037']
['Registered and Correspondence Office Address:  16/24, 1st Agyari Lane, Shp No.:26, 1st Floor,  Mustafa Market, Zaveri Bazaar, Mumbai - 400003']
['4/54-55, Saraswati Marg, Victoria Cross Building,   Room No. 302, W.E.A. Karol Baug, New Delhi -   110005.', 'Correspondence Office Address:', 'Flat No. 5 B, 5th Floor, Tulsidham Complex, 48/1,   Jemore Road, Near Bangur Av, Kolkata', '- 700055.']
['Registered and Correspondence Office Address:  8-2-293/82/Hh/61, Villa-3,Huda Heights, Road   No. 12, M.L.A. Colony, Banjara Hills, Hyderabad -  500034.']
['Registered and Correspondence Office Address :  614, Usha Nagar Extn. Narendra Tiwari Marg,  Indore - 452009', 'Madhya Pradesh', 'Alternate Address :', '2, Chhota Sarafa, Indore - 452009 Madhya  Pradesh.']
['RegisteredandCorrespondenceOffice Address:  9, Lal Bazar Street, Block-A, 3rd Floor, Kolkata-   700001.', '(West Bengal)']
['RegisteredOfficeAddress:', '27A, Waterloo Street, 1St Floor, Room No. 119,,  Kolkata- 700069. (West Bengal).', 'AlternateOfficeAddress:', 'P 39 Princep Street, Kolkata-700072.']
["5th Floor, 'F' Block, Nelson Chambers, 115,  Nelson Manickem Road, Chennai - 600029.", 'Other Office Addresses:', '1. 6th Floor, ‘F’ Block, Nelson Chambers, 115,  Nelson Manickem Road, Chennai – 600029  Tamil Nadu', '2. 2nd Floor, 29/20 Karpakambal Nagar,  Mylapore, Chennai – 600004 Tamilnadu']
['RegisteredandCorrespondenceOffice Address:', '9, India Exchange Place,  4th floor, Room No. 5,  Kolkata - 700001']
['RegisteredOfficeAddress:', 'Dinhata Road,  New Town,', 'Coochbehar, Pin - 736101  (West Bengal)', 'CorrespondanceOfficeAddress: C-1094/1095, 1st floor, Oberoi Garden Estates,  Chandivali, Andheri (East), Mumbai - 400072  (Maharashtra)']
['RegisteredandCorrespondenceOffice Address:', 'Bldg. No.02-124,', 'Plot No. BG/8, AA-LB IN SUB CBD of', 'Action Area I,  9th Floor, DLF Galleria, Prem']
['Kolkata- 700156.  West', 'Bengal']
['RegisteredOfficeAddressDetails: 1068, 1St Floor, Shanmugam Complex, Mettupalayam Road, Coimbatore- 641002. (Tamil  Nadu)', 'CorrespondenceOfficeAddress Details: Door No.1, 3rd Floor, M.K. Complex East,  Periyasamy Road, R.S. Puram', 'Coimbatore-  641002. (Tamil Nadu)']
['RegisteredandCorrespondenceOffice Address:  Karishma Building, Plot no. 9, Ground Floor, Shop   no. 7A, Naigaon Cross Road, Madhavdas Pasta   Lane, Dadar (East). Mumbai - 400 014.', 'Maharashtra']
['Registered and Correspondence Office Address: No. 44/45, Sapphire Square, P B Road, Purasawalkam, Chennai – 600007. Tamil Nadu']
['13, Vaishali, Pitampura, Delhi – 110088. Delhi']
['B-89, GF, Malviya Nagar, New Delhi – 110017', 'Correspondence Office Address:', '810, Indraprakash Building, Barakhamba Road, New Delhi – 110001']
['108A/92, West Ponnurangam Road, R. S. Puram, Coimbatore – 641002. Tamil Nadu.', 'Correspondence Office Address:', 'No. 1, Baithu Noor, Police Kandhasamy Street, Ramanathapuram, Coimbatore – 641045.', 'Tamil Nadu.']
['Registered & Correspondence Office Address:', '206, 2nd floor, Sewa Corporate Park, M G Road, Gurgaon – 122002. Haryana.']
['Registered & Correspondence Office Address:', '403, 4th floor, Shalimar Titanium, Vibhuti', 'Khand, Gomti Nagar, Lucknow – 226010. Uttar Pradesh']
['Registered & Correspondence Office Address:', '109, G. A. Road, Old Washermenpet, Chennai', '– 600021. Tamil Nadu']
['Registered     &      Correspondence     Office Address:', 'Karvy       Millennium,       Plot       no.       31P, Nanakramguda,  Financial district,  Gachibowli, Hyderabad, Telangana 500032.']
['Registered     and     Correspondence     office address:', '2/41, Virat Khand, Gomti Nagar, Lucknow, PIN- 226010. Uttar Pradesh.']
['Registered office address:', '1249,  Sector-19,  (NCR),  Faridabad,  Haryana- 121002.', 'Correspondence office address:', 'A-78,   Sector   –   2   (Near   Sector-15   Metro Station),', 'Noida, Uttar Pradesh-201301.']
['Registered & Correspondence office address: 29-5A,  Dr.  Ambedkar  Sarani,  Topsia  Road, Viswakarma –II, Kolkata-700046, West Bengal']
['Flat  No.  608,  Pragati  Bhawan,  26  Rajindra Place, New Delhi, Delhi- 110008', 'Correspondence Office Address:', 'C-88, 4th Floor, Sector 2, Noida, Uttar Pradesh- 201301']
['Registered & Correspondence office address: 328,   Ninad,   1st   Floor,   Bldg.   No.7,  Service Road,   Bandra   (E),   Mumbai   Maharashtra   – 400051']
['Registered address:', 'Commercial office  no-156,  Vardhman  Sunrise Plaza, Vasundhara Enclave, Delhi-110096', 'Correspondence    Address:   C-56A/13,    6th Floor,  Sector  -  62,  Phase  III,  Noida-201301, Uttar Pradesh']
['Registered Address:', '806,  8th  floor  of  Challa  Mall,  No.  11,  Sir Thyagarayar    Road,   T.   Nagar,   Chennai   – 600017, Tamil Nadu', 'Correspondence Address:', 'Unit No-3, Enterprise Centre, Public Road, Vile Parle (E), Mumbai – 400099, Maharashtra.']
['Registered and Correspondence Address #213,   2nd   floor,   5th   main,   RPC   layout, Vijaynagar, Bangalore- 560040, Karnataka']

,0,1,2,3,4,5,6
0,,,,,,ames of Promoters/owners/Partners/Directors of,
1,S. \nName and address of the Member,PAN,,,Date of,,Nature of Violation
2,,,,,,the company,
3,No.,,Exchang,,Declaration,,
4,,,,FMC's UMC / SEBI,,,

In [2]:
# my_headers = {'x-api-key' : 'BOguclmwJ7','x-api-secret-key':'VGdbqAxigZzq59T9Mmtrg7yIK2cG6dv5t24LUYH5'}
my_headers = {}

def Company_to_CIN(CompanyName):
    response = requests.get(f'https://api.finanvo.in/search/company?query={CompanyName}', headers=my_headers)
    data=response.json()
    return data['data']

def CIN_to_master_data(CIN):
    response = requests.get(f'https://api.finanvo.in/company/profile?CIN={CIN}', headers=my_headers)
    data=response.json()
    return data['data']

def CIN_to_Director(CIN):
    response = requests.get(f'https://api.finanvo.in/company/directors?CIN={CIN}', headers=my_headers)
    data=response.json()
    return data['data']

def CIN_to_Charges(CIN):
    response = requests.get(f'https://api.finanvo.in/company/charges?CIN={CIN}', headers=my_headers)
    data=response.json()
    return data['data']

In [2]:
import pandas as pd
df = pd.read_excel("/home/ubuntu/sanctions-scripts/FINOVO/MCA.xlsx")

In [3]:
df.head()

,S.No,CIN,Company Name,PAN NUMBER,Strike off Date,SRN,Signatory ID,Director Name
0,1,U80902KL2019OPC056350,ACCELENZY LIDERAZGO (OPC) PRIVATE LIMITED,NaN,NaN,NaN,NaN,NaN
1,2,U93090KL2020PTC061576,AHZAB IMPEX AND TOURISM PRIVATE LIMITED,NaN,NaN,NaN,NaN,NaN
2,3,U63040KL2011PTC027766,AL SAFINA HOLIDAYS PRIVATE LIMITED,NaN,NaN,NaN,NaN,NaN
3,4,U72900KL2017PTC050082,ANCATAG TECHNOLOGIES PRIVATE LIMITED,NaN,NaN,NaN,NaN,NaN
4,5,U74140KL2013PTC033886,ARMAJARO TRADING (INDIA) PRIVATE LIMITED,NaN,NaN,NaN,NaN,NaN

In [ ]:
for i,r in df.iterrows():
    print(r["Company Name"])

In [7]:
CIN_to_Director("U27107RJ1997PTC014425")

[{'DIN': '00704889',
  'NAME': 'GOURI DEVI BHANSALI',
  'DESIGNATION': 'Director',
  'DATE_JOIN': '31/10/2003',
  'DATE_RESIGN': '-'},
 {'DIN': '00704937',
  'NAME': 'RAI CHAND BHANSALI',
  'DESIGNATION': 'Director',
  'DATE_JOIN': '08/12/1997',
  'DATE_RESIGN': '-'},
 {'DIN': '00704952',
  'NAME': 'RAJESH RAICHAND BHANSALI',
  'DESIGNATION': 'Director',
  'DATE_JOIN': '08/12/1997',
  'DATE_RESIGN': '-'},
 {'DIN': '00704978',
  'NAME': 'ANITA BHANSALI',
  'DESIGNATION': 'Director',
  'DATE_JOIN': '01/06/2017',
  'DATE_RESIGN': '-'},
 {'DIN': '00704988',
  'NAME': 'ANITA BHANSALI',
  'DESIGNATION': 'Director',
  'DATE_JOIN': '31/10/2003',
  'DATE_RESIGN': '-'},
 {'DIN': '01182865',
  'NAME': 'NEELESH BHANSALI',
  'DESIGNATION': '',
  'DATE_JOIN': '13/11/1997',
  'DATE_RESIGN': '-'},
 {'DIN': '01971757',
  'NAME': 'SURESH BHANSALI',
  'DESIGNATION': 'Director',
  'DATE_JOIN': '01/10/2012',
  'DATE_RESIGN': '-'},
 {'DIN': '02538803',
  'NAME': 'PRATIK SURESH BHANSALI',
  'DESIGNATION': 'Director',
  'DATE_JOIN': '21/02/2009',
  'DATE_RESIGN': '-'},
 {'DIN': '02538807',
  'NAME': 'GULAB BHANSALI',
  'DESIGNATION': 'Director',
  'DATE_JOIN': '21/02/2009',
  'DATE_RESIGN': '-'},
 {'DIN': '06703453',
  'NAME': 'HIMANSHU RAJESH BHANSALI',
  'DESIGNATION': 'Director',
  'DATE_JOIN': '07/02/2014',
  'DATE_RESIGN': '-'}]

In [19]:
tb[2].df.head(10)

,0,1,2,3,4,5,6,7
0,26,R\nChaitanya Commodities Private Limited \negi...,AADCC8650J,40660,SEBI Registration no.– \nINZ000052730,22-06-2021,S\n \nName of the Directors as per Exchange ...,The Member has been expelled from \nthe Membe...
1,27,R\n Arcadia Commodities & Trading \negistered...,AAKFA1192M,10950,SEBI Registration no. – \nINZ000048620,16-07-2021,P\nName of the Managing Partners as per ...,The Member has been expelled from \nthe Membe...
2,28,R\n C\nSumpoorna Comtrade Private Limited \n...,AAPCS1489R,46150,SEBI Registration no. – \nINZ000037836,24-08-2021,S\nName of the Directors as per Exchange recor...,The Member has been expelled from \nthe Membe...
3,29.,R\n C\nGrovalue Commodity Private Ltd \negist...,AAFCG2360M,55195,SEBI Registration no. – \nINZ000031334,25-08-2021,1\n S\nName of the Directors as per Exchang...,The Member has been expelled from \nthe Membe...
4,30,R\nSunnes Capital India Private Limited \negis...,AAOCS6977K,55905,SEBI Registration no. – \nINZ000163232,25-04-2022,1\n S\n 1\nName of the Directors as per Exch...,The member has been expelled from \nthe membe...