In [2]:
import requests
import json
from scrapy.http import HtmlResponse
import camelot
import pandas as pd

In [4]:
import camelot
tb =  camelot.read_pdf("/home/ubuntu/sanctions-scripts/ThailandYdesignated_2022YMay_6561.pdf",pages="all",flavor="stream")

UserWarning: No tables found in table area 1 [stream.py:365]

In [6]:
from PyPDF2 import PdfFileReader, PdfFileWriter

reader = PdfFileReader("/home/ubuntu/sanctions-scripts/ThailandYdesignated_2022YMay_6561.pdf")
number_of_pages = len(reader.pages)
print(number_of_pages)

41

In [12]:
page = reader.pages[0]
data = page.extractText()
data.split()

'Thailand designated list \n(\nUpdated as of \nMay\n \n2022\n)\n \n \nTHi0001\n\n \nName\n\nAMRAN \n\nMING\n \nName \n\noriginal script\n\n\n\n\n\n \nTitle\n\nMr\n\n  \nDOB\n\n18 DEC 1981\n  \nNationality\n\nThai\n  \nPassport no\n\nN\n/\nA\n\n \nNational identification\n\n5\n\n9605\n\n00028\n\n10\n\n1\n\n \nAddress\n\n4\n\n1, Moo 5, Ra\n\nngae\n\nDistrict, \nBa\n-\nn\ngo\n \nS\nato Sub\n\ndistrict, Narathiwat \n\nDesignated on\n\n9 May 2013 \n\n \nOther\n\ninformation\n\nheight 169 centimeters\n \n \nTHi0003\n \nName\n\nABDULLOH \n\nMAMING\n \nName \n\noriginal script\n\n\n\n\n\n \nTitle\n\nMr\n\n  \nDOB\n\n1 JUL 1982\n  \nNationality\n\nThai\n  \nPassport no\n\nN\n/\nA\n\n \nNational identification\n\n3\n\n9605\n\n00206\n\n04\n\n6\n\nAddress\n\n123, Moo 10, Ra\n\nngae\n\nDistrict, \nTanyong Mat\n \nSub\n\ndistrict, Narathiwat \n\nDesignated on\n\n9 May 2013 \n \nOther \ninformation\n\nheight 157 centimeters\n \n \nTHi0005\n \nName\n\nROWI \n\nHAYIDING\n \nName \n\noriginal script\n\n\n\n\n\n \nTitle\n\nMr\n\n  \nDOB\n\n7 MAY 1987 \n \nNationality\n\nThai\n  \nPassport no\n\nN\n/\nA\n\n \nNational identification\n\n2\n\n9604\n\n00008\n\n13\n\n9\n\n \nAddress\n\n61, Moo 6, Ra\n\nngae\n\nDistrict, \nTanyong Mat\n \nSub\n\ndistrict, Narathiwat \n\nDesignated on\n\n10 May 2013 \nOther \ninformation\n\nheight 165 centimeters\n \n \nTHi0006\n \nName\n\nMADAREE\n\n \nWALUNG\n \nName \n\noriginal script\n\n\n\n\n\n \nTitle\n\nMr\n\n \nDOB\n\n22 JUN 1976\n  \nNationality\n\nThai\n  \nPassport no\n\nN\n/\nA\n\n \nNational identification\n\n3\n\n9604\n\n00260\n\n56\n\n1\n\n \nAddress\n\n47\n\n1, Moo \n5, Yi\n\nngo\n\nDistrict, \nTapoyo\n \nSub\n\ndistrict, Narathiwat \n\nDesignated on\n\n10 May 2013 \n \nOther\n\ninformation\n\nheight 158 centimeters\n \n \nTHi0007\n \nName\n\nABDULTOLEH \n\nBAYOHKASEH\n \nName \n\noriginal script\n\n\n\n\n\n \nTitle\n\nMr\n\n  \nDOB\n\n2\n0\n \nJAN 1983 \n \nNationality\n\nThai\n  \nPassport no\n\nOT0537103\n \nNational identification\n\n3\n\n9605\n\n00431\n\n03\n\n1\n \nAddress\n\n64\n\n2, Moo 4, Ra\n\nngae\n\nDistrict, \nChaloem\n \nSub\n\ndistrict, Narathiwat\n\nDesignated on\n\n10 May 2013 \n \nOther\n\ninformation\n\nheight 154 centimeters\n \n \n \n'

In [23]:
data.split("\n \n \n")[-2]

'THi0007\n \nName\n\nABDULTOLEH \n\nBAYOHKASEH\n \nName \n\noriginal script\n\n\n\n\n\n \nTitle\n\nMr\n\n  \nDOB\n\n2\n0\n \nJAN 1983 \n \nNationality\n\nThai\n  \nPassport no\n\nOT0537103\n \nNational identification\n\n3\n\n9605\n\n00431\n\n03\n\n1\n \nAddress\n\n64\n\n2, Moo 4, Ra\n\nngae\n\nDistrict, \nChaloem\n \nSub\n\ndistrict, Narathiwat\n\nDesignated on\n\n10 May 2013 \n \nOther\n\ninformation\n\nheight 154 centimeters'

In [7]:
dir(reader)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_authenticateUserPassword',
 '_buildDestination',
 '_buildField',
 '_buildOutline',
 '_checkKids',
 '_decrypt',
 '_decryptObject',
 '_flatten',
 '_getObjectFromStream',
 '_getPageNumberByIndirect',
 '_override_encryption',
 '_pageId2Num',
 '_pairs',
 '_writeField',
 '_zeroXref',
 'cacheGetIndirectObject',
 'cacheIndirectObject',
 'decrypt',
 'documentInfo',
 'flattenedPages',
 'getDestinationPageNumber',
 'getDocumentInfo',
 'getFields',
 'getFormTextFields',
 'getIsEncrypted',
 'getNamedDestinations',
 'getNumPages',
 'getObject',
 'getOutlines',
 'getPage',
 'getPageLayout',
 'getPageMode',
 'getPageNumber',
 'getXmpMetadata',
 'isEncrypted',
 'namedDestinations',
 'numPages',
 'outlines',
 'pageLayout',
 'pageMode',
 'pages',
 'read',
 'readNextEndLine',
 'readObjectHeader',
 'resolvedObjects',
 'stream',
 'strict',
 'trailer',
 'xmpMetadata',
 'xref',
 'xrefIndex',
 'xref_objStm']

In [3]:
tb =  camelot.read_pdf("/home/ubuntu/sanctions-scripts/ROC-Industry-Code.pdf",pages="all",flavor="stream")

In [4]:
len(tb)

58

In [5]:
nic_list = []
for t in tb:
    for i,r in t.df.iterrows():
        # print(r[2])
        try:
            nic = int(r[2])
            nic_list.append(r[2])
        except ValueError:
            pass
        except KeyError:
            pass

In [6]:
len(nic_list)

916

In [7]:
state_code = ["AD","AR","AS","BR","CG","DL","GA","GJ","HR","HP","JK","JH","KA","KL","LD","MP","MH","MN","ML","MZ","OD","NL","PB","PY","SK","RJ","TN","TS","TR","UK","UP","WB","AN","CH","DNHDD","LA","OT"]

In [8]:
listing_status = ["U","L"]

In [9]:
import itertools

reg_no_list = []
for combination in itertools.product(range(10), repeat=6):
    reg_no_list.append(''.join(map(str, combination)))

In [2]:
# my_headers = {'x-api-key' : 'BOguclmwJ7','x-api-secret-key':'VGdbqAxigZzq59T9Mmtrg7yIK2cG6dv5t24LUYH5'}
my_headers = {}

def Company_to_CIN(CompanyName):
    response = requests.get(f'https://api.finanvo.in/search/company?query={CompanyName}', headers=my_headers)
    data=response.json()
    return data['data']

def CIN_to_master_data(CIN):
    response = requests.get(f'https://api.finanvo.in/company/profile?CIN={CIN}', headers=my_headers)
    data=response.json()
    return data['data']

def CIN_to_Director(CIN):
    response = requests.get(f'https://api.finanvo.in/company/directors?CIN={CIN}', headers=my_headers)
    data=response.json()
    return data['data']

def CIN_to_Charges(CIN):
    response = requests.get(f'https://api.finanvo.in/company/charges?CIN={CIN}', headers=my_headers)
    data=response.json()
    return data['data']

In [2]:
import pandas as pd
df = pd.read_excel("/home/ubuntu/sanctions-scripts/FINOVO/MCA.xlsx")

In [3]:
df.head()

,S.No,CIN,Company Name,PAN NUMBER,Strike off Date,SRN,Signatory ID,Director Name
0,1,U80902KL2019OPC056350,ACCELENZY LIDERAZGO (OPC) PRIVATE LIMITED,NaN,NaN,NaN,NaN,NaN
1,2,U93090KL2020PTC061576,AHZAB IMPEX AND TOURISM PRIVATE LIMITED,NaN,NaN,NaN,NaN,NaN
2,3,U63040KL2011PTC027766,AL SAFINA HOLIDAYS PRIVATE LIMITED,NaN,NaN,NaN,NaN,NaN
3,4,U72900KL2017PTC050082,ANCATAG TECHNOLOGIES PRIVATE LIMITED,NaN,NaN,NaN,NaN,NaN
4,5,U74140KL2013PTC033886,ARMAJARO TRADING (INDIA) PRIVATE LIMITED,NaN,NaN,NaN,NaN,NaN

In [ ]:
for i,r in df.iterrows():
    print(r["Company Name"])

In [7]:
CIN_to_Director("U27107RJ1997PTC014425")

[{'DIN': '00704889',
  'NAME': 'GOURI DEVI BHANSALI',
  'DESIGNATION': 'Director',
  'DATE_JOIN': '31/10/2003',
  'DATE_RESIGN': '-'},
 {'DIN': '00704937',
  'NAME': 'RAI CHAND BHANSALI',
  'DESIGNATION': 'Director',
  'DATE_JOIN': '08/12/1997',
  'DATE_RESIGN': '-'},
 {'DIN': '00704952',
  'NAME': 'RAJESH RAICHAND BHANSALI',
  'DESIGNATION': 'Director',
  'DATE_JOIN': '08/12/1997',
  'DATE_RESIGN': '-'},
 {'DIN': '00704978',
  'NAME': 'ANITA BHANSALI',
  'DESIGNATION': 'Director',
  'DATE_JOIN': '01/06/2017',
  'DATE_RESIGN': '-'},
 {'DIN': '00704988',
  'NAME': 'ANITA BHANSALI',
  'DESIGNATION': 'Director',
  'DATE_JOIN': '31/10/2003',
  'DATE_RESIGN': '-'},
 {'DIN': '01182865',
  'NAME': 'NEELESH BHANSALI',
  'DESIGNATION': '',
  'DATE_JOIN': '13/11/1997',
  'DATE_RESIGN': '-'},
 {'DIN': '01971757',
  'NAME': 'SURESH BHANSALI',
  'DESIGNATION': 'Director',
  'DATE_JOIN': '01/10/2012',
  'DATE_RESIGN': '-'},
 {'DIN': '02538803',
  'NAME': 'PRATIK SURESH BHANSALI',
  'DESIGNATION': 'Director',
  'DATE_JOIN': '21/02/2009',
  'DATE_RESIGN': '-'},
 {'DIN': '02538807',
  'NAME': 'GULAB BHANSALI',
  'DESIGNATION': 'Director',
  'DATE_JOIN': '21/02/2009',
  'DATE_RESIGN': '-'},
 {'DIN': '06703453',
  'NAME': 'HIMANSHU RAJESH BHANSALI',
  'DESIGNATION': 'Director',
  'DATE_JOIN': '07/02/2014',
  'DATE_RESIGN': '-'}]

In [19]:
tb[2].df.head(10)

,0,1,2,3,4,5,6,7
0,26,R\nChaitanya Commodities Private Limited \negi...,AADCC8650J,40660,SEBI Registration no.– \nINZ000052730,22-06-2021,S\n \nName of the Directors as per Exchange ...,The Member has been expelled from \nthe Membe...
1,27,R\n Arcadia Commodities & Trading \negistered...,AAKFA1192M,10950,SEBI Registration no. – \nINZ000048620,16-07-2021,P\nName of the Managing Partners as per ...,The Member has been expelled from \nthe Membe...
2,28,R\n C\nSumpoorna Comtrade Private Limited \n...,AAPCS1489R,46150,SEBI Registration no. – \nINZ000037836,24-08-2021,S\nName of the Directors as per Exchange recor...,The Member has been expelled from \nthe Membe...
3,29.,R\n C\nGrovalue Commodity Private Ltd \negist...,AAFCG2360M,55195,SEBI Registration no. – \nINZ000031334,25-08-2021,1\n S\nName of the Directors as per Exchang...,The Member has been expelled from \nthe Membe...
4,30,R\nSunnes Capital India Private Limited \negis...,AAOCS6977K,55905,SEBI Registration no. – \nINZ000163232,25-04-2022,1\n S\n 1\nName of the Directors as per Exch...,The member has been expelled from \nthe membe...